
body {
    font-family:Didot, serif;
    margin: 30px;
    padding: 0;
    background-color: #E6E6FA;
    color: #4B0082;

}
/*
h2 {
    text-align: center;
    color: #7B68EE;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 50%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


#steps {
    white-space: pre-line;
}
*/
.search-box{
    width: 600px;
    background: #fff;
    margin: 200px auto 0;
    border-radius: 5px;
}

.row{
    display: flex;
    align-items: center;
    padding: 10px 20 px;
}

input{
    flex: 1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
}

.result-box ul{
    border-top: 1px solid #999;
    padding: 15px 10px;
}

.result_box ul li{
    list-style: none;
    border-radius: 3px;
    padding: 13px 10px;
    cursor: pointer;
}

.result-box ul li:hover{
    background: #e9f3ff;
}
